@charset "UTF-8";
/* CSS Document */
body{background-image:
url("images/background2.png");
background-size:cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
html {
    height: 100%;
}
#sm{float:left;
width:20%;}
#melee{float:left;
width:60%;}
#menu{float:left;
width:20%;
position:relative;
	bottom:60px;
	left:200px;
}
.fl1{font-family: BERNHC;
font-size:50px;
	position:relative;
	left:30px;
	bottom:300px;
	width:20%;
	color:#FFFFFF;
}
#home{float:left;
width:40%;}
#about{float:left;
width:40%;}

.fl2{font-family: BERNHC;
font-size:50px;
	position:relative;
	width:20%;
	color:#FFFFFF;
	float:right;
	bottom:305px;
	right:40px;
}
#music{float:right;
width:50%;}
#contact{float:right;
width:50%;}

#sub{font-family: BERNHC;
font-size:50px;
	position:relative;
	left:30px;
	width:20%;
	color:#FFFFFF;}
.flex{display:flex;
flex-direction:row;
flex-wrap:nowrap;
	position:relative;
	top:400px;
	
}

#square{width:400px;
height:120px;
background-color:white;}
.mar{width:20%;opacity:.8;}
.lin{width:20%;opacity:.8;
position:relative;
top:20px;}
.mart{width:20%;opacity:.8;}
.fox{width:20%;opacity:.8;
position:relative;
bottom:65px;}
.jig{width:20%;opacity:.8;}

.mar:hover{width:20%;
opacity:1;}
.lin:hover{width:20%;
position:relative;opacity:1;
top:20px;}
.mart:hover{width:20%;opacity:1;}
.fox:hover{width:20%;
position:relative;opacity:1;
bottom:65px;}
.jig:hover{width:20%;opacity:1;}
#bg{background-color:#313131;
height: 900px;}