@charset "utf-8";
/* CSS Document */
.webpbar{display:grid;
grid-template-columns: auto auto auto auto;
max-width: 1000px;
		margin: 0 auto;
	background-color:black;
grid-gap: 1em;
	color:#41027b;
float:right;
font-size:20px;}
#head{font-size:60px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:aqua;
font-style: italic;}
#head{font-size:60px;
	color:#3D463D;
font-style: italic;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
body{background:url(images/city5.jpg)center center fixed;
background-repeat:no-repeat;
background-size:cover;}
#para{width:50%;
	float:left;
	position:relative;
	left:100px;
	font-size:50px;
	color:#B6DF6F
}
#pic{width:50%;
	float:left;
position:relative;
	}
